doctype html
html(lang="pt-br")
  head
    title home
    link(rel='stylesheet', href='/stylesheets/paginaCapitulos.css')
  body
    h1 
        a(href=`http://localhost:3000/Usuarios/:${id_Usuario}/`) Home

    h1= capitulo.TituloCapitulo

    form(action=`http://localhost:3000/Usuarios/:${id_Usuario}/historia/:${id_Historia}/capitulo/:${capitulo._id.toString()}/adicionarAnotacao`, method="post", class="formAnotacoes")
        h2 Anotações 

        table 
            thead 
                tr
                    th Foco Do Cápitulo
                    th Humor/tom

            tbody 
                if anotacoes.length
                    for anotacao in anotacoes
                        tr 
                            td 
                                p= anotacao.FocoCapitulo
                                    span 
                                        a(href=`http://localhost:3000/Usuarios/:${id_Usuario}/historia/:${id_Historia}/capitulo/:${capitulo._id.toString()}/excluirAnotacao/:${anotacao._id.toString()}`) Deletar
                                    span 
                                        a(href=`http://localhost:3000/Usuarios/:${id_Usuario}/historia/:${id_Historia}/capitulo/:${capitulo._id.toString()}/atualizarAnotacao/:${anotacao._id.toString()}`) Atualizar
                            td 
                                p= anotacao.HumorTom
                                    span 
                                        a(href=`http://localhost:3000/Usuarios/:${id_Usuario}/historia/:${id_Historia}/capitulo/:${capitulo._id.toString()}/excluirAnotacao/:${anotacao._id.toString()}`) Deletar
                                    span 
                                        a(href=`http://localhost:3000/Usuarios/:${id_Usuario}/historia/:${id_Historia}/capitulo/:${capitulo._id.toString()}/atualizarAnotacao/:${anotacao._id.toString()}`) Atualizar


                tr 
                    td 
                        input(type="text", name="focoCapitulo", class="iptnTable")
                    td 
                        input(type="text", name="humorCapitulo", class="iptnTable")
                tr 
                    td(colspan="4")
                        button(type="submit") Salvar

    form(action=``, method="post")
        h2 Continue escrevendo seu capitulo

        input(type="text", name="tituloCapitulo",  placeholder="Titulo do capitulo" value=`${capitulo.TituloCapitulo}`)

        textarea(name="textoCapitulo" placeholder="Historia do capitulo")= capitulo.TextoCapitulo

        button(type="submit") Salvar 