doctype html
html(lang="pt-br")
  head
    title= capitulo.TituloCapitulo
    link(rel='stylesheet', href='/stylesheets/paginaCapitulos.css')
    link(rel='stylesheet', href='/stylesheets/notify.css')
    link(rel='stylesheet', href='/stylesheets/excluir.css')
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    header(class="header")
      nav(class="navBar")
        div(class="boxTituloLogo")
          img( class="logo-nav" src="/images/63b55e87-83ca-4b1e-afe9-c0e899910615.jpg")
          h1(class="h1-home", translate="no") Dawn Draft
            

        a(href=`/Usuarios/${id_Usuario}/historia/:${id_Historia}`)
            img(src="/images/de-volta.png", alt="voltar")


    section 
        form(action=``, method="post")
            h2 Continue escrevendo seu capitulo
            
            div(class="divInpt")
                label(for="") Titulo:
                input(type="text", name="tituloCapitulo",  placeholder="Titulo do capitulo" value=`${capitulo.TituloCapitulo}` maxlength="75")

            div(class="divInpt")
                label(for="") Humor&nbspdo&nbspcapitulo:
                input(type="text", name="humorCapitulo",  placeholder="Humor Do Capitulo", maxlength="100", value=`${capitulo.HumorDoCapitulo}`)

            div(class="divInpt")
                label(for="") Foco&nbspdo&nbspcapitulo:
                input(type="text", name="focoCapitulo",  placeholder="Foco Do Capitulo", maxlength="100", value=`${capitulo.FocoDoCapitulo}`)

            div(class="divResumoPersonagem")
                label(for="") Resumo&nbspdo&nbspcapitulo:
                textarea(name="resumoCapitulo", maxlength="500")= capitulo.ResumoCapitulo

            div(class="divResumoPersonagem")
                label(for="") Historia&nbspdo&nbspcapitulo:
                textarea(name="textoCapitulo" placeholder="Historia do capitulo")= capitulo.TextoCapitulo

            script(src="/javascripts/capitulos.js")

            div
                button(type="submit") Salvar 

    br/ 

    section(class="sectionPersnagensECenarios")
        form(action=`/Usuarios/:${id_Usuario}/historia/:${id_Historia}/capitulo/:${capitulo._id.toString()}/adicionarPersonagem`, method="post")

            h2(class="tituloPersonagensECenarios") Personagens

            div(class="boxPersonagensECapitulos")
                if personagensCapitulo.length
                    - contador = 0
                    for personagem1 in personagensCapitulo
                        
                        p(class="paragrafoLinksPersonagensECapitulos")
                            a(href=`/Usuarios/:${id_Usuario}/personagem/:${personagem1._id.toString()}`, class="linkPersonagensECapitulos")= personagem1.Nome

                            span(class="linkDeletarPersonagemECapitulo")
                                a(href=`/Usuarios/:${id_Usuario}/historia/:${id_Historia}/capitulo/:${capitulo._id.toString()}/removerPersonagemDoCapitulo/${idsDosPersonagensDoCapitulo[contador]}`) Deletar
                                - contador++
                
                else if personagens.length == 0
                    p(class="pAviso") Você ainda não criou nenhum personagem, 
                        a(href=`/Usuarios/${id_Usuario}/adicionarPersonagem`, class="linkCriarPersonagem") Crie um agora mesmo!

                else
                    p(class="pAviso") Você ainda não tem personagens vinculados a esse capitulo!

            div(class="boxPersonagensECapitulos")
                if personagens.length
                    select(name="personagem")
                        option(value = "0") Escolha um personagem
                        for personagem2 in personagens
                            option(value=`${personagem2._id.toString()}`)= personagem2.Nome
                else 
                    select(name="personagem", disabled) 
                        option(value="") Voce ainda não criou nenhum personagem

            div(class="boxPersonagensECapitulos")
                if personagens.length
                    button(type="submit", class="btnSubmit") Adicionar Personagem
                else 
                    button(type="submit", disabled) Adicionar Personagem

    br/

    section(class="sectionPersnagensECenarios")
        form(action=`/Usuarios/:${id_Usuario}/historia/:${id_Historia}/capitulo/:${capitulo._id.toString()}/adicionaCenario`, method="post")

            h2(class="tituloPersonagensECenarios") Cenários

            select(name="cenario", disabled)
                option(value="null") Cenario 1  

            button(type="submit", disabled) Adicionar Cenário

    section  
      span(class="spanDeletarHis") Excluir Capitulo

      div(class="divExcluirPersonagem")
        p Certeza que deseja excluir a historia #{capitulo.Titulo}
        div(class="botoesDivExcluirPersonagem")
          button(class="cancelar", id="btnCancelar") Cancelar 
          a(class="excluir", href=`/Usuarios/:${capitulo.Usuario.toString()}/historia/:${capitulo.Historia.toString()}/capitulo/:${capitulo._id.toString()}/deletarCapitulo`) Excluir
        script(src="/javascripts/excluir.js")

    
    if notify.length
      div(class="containerNotify sucesso", id="containerNotify")
        div(class="boxNotify")
          h3 Sucesso!
          span(id="idNotificacao")= notify
      
      script(src="/javascripts/notify.js")
    
    if notifyErro.length
      div(class="containerNotify erro", id="containerNotifyErro")
        div(class="boxNotify")
          h3 Erro!
          span(id="idNotificacaoErro")= notifyErro
      
      script(src="/javascripts/notifyErro.js")
    
    footer(class="footer")
          p &copy; 2024 DawnDraft. Todos os direitos reservados.
          a(href="/politicaPrivacidade.html" style="color: white; text-decoration: none;") Política de Privacidade
          a(href="/contato.html" style="color: white; text-decoration: none;") Contato
