doctype html
html(lang="pt-br")
  head
    title= capitulo.TituloCapitulo
    link(rel='stylesheet', href='/stylesheets/paginaCapitulos.css')
    link(rel='stylesheet', href='/stylesheets/notify.css')
    link(rel='stylesheet', href='/stylesheets/excluir.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel="website icon", href="/images/3c323745-b83e-4589-b0a6-a5b15a0aa3c4.jpg")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    header(class="header")
        div(class="boxTituloLogo")
            img( class="logo-nav" src="/images/63b55e87-83ca-4b1e-afe9-c0e899910615.jpg")
            h1(class="h1-home", translate="no") Dawn Draft

        nav(class="navBar")
            a(href=`/Usuarios/${id_Usuario}/adicionarCenario`, class="btn-sobre") Criar cenario
            a(href=`/Usuarios/${id_Usuario}/adicionarPersonagem`, class="btn-sobre") Criar personagem
            a(href=`/Usuarios/${id_Usuario}/NovaHistoria`, class="btn-sobre") Criar historia
            a(href=`/Usuarios/${id_Usuario}/historia/:${id_Historia}`)
                img(src="/images/de-volta.png", alt="voltar", class="hoverScale")


    section 
        form(action=``, method="post")
            h2 Continue escrevendo seu capitulo!
            
            div(class="divInpt borderRadius5ptCima")
                label(for="") Titulo:
                input(type="text", name="tituloCapitulo",  placeholder="Titulo do capitulo" value=`${capitulo.TituloCapitulo}` maxlength="75", required)

            div(class="divInpt")
                label(for="") Humor&nbspdo&nbspcapitulo:
                input(type="text", name="humorCapitulo",  placeholder="Humor do capitulo", maxlength="100", value=`${capitulo.HumorDoCapitulo}`)

            div(class="divInpt borderRadius5ptBaixo")
                label(for="") Foco&nbspdo&nbspcapitulo:
                input(type="text", name="focoCapitulo",  placeholder="Foco do capitulo", maxlength="100", value=`${capitulo.FocoDoCapitulo}`)

            div(class="divResumoPersonagem")
                label(for="") Resumo&nbspdo&nbspcapitulo:
                textarea(name="resumoCapitulo", maxlength="500", placeholder="Resumo do capitulo")= capitulo.ResumoCapitulo

            div(class="divResumoPersonagem")
                label(for="") Historia&nbspdo&nbspcapitulo:
                textarea(name="textoCapitulo" placeholder="Historia do capitulo")= capitulo.TextoCapitulo

            script(src="/javascripts/capitulos.js")

            div
                button(type="submit") Salvar 

    br/ 

    section(class="sectionPersnagensECenarios")
        form(action=`/Usuarios/:${id_Usuario}/historia/:${id_Historia}/capitulo/:${capitulo._id.toString()}/adicionarPersonagem`, method="post")

            h2(class="tituloPersonagensECenarios") Personagens

            div(class="boxPersonagensECapitulos")
                if personagensDoCapitulo.length
                    for personagem in personagensDoCapitulo
                        p(class="paragrafoLinksPersonagensECapitulos")
                            a(href=`/Usuarios/:${id_Usuario}/personagem/:${personagem._id.toString()}`, class="linkPersonagensECapitulos")= personagem.Nome

                            span(class="linkDeletarPersonagemECapitulo")
                                a(href=`/Usuarios/:${id_Usuario}/historia/:${id_Historia}/capitulo/:${capitulo._id.toString()}/removerPersonagemDoCapitulo/${personagem._id.toString()}`) Deletar
                
                else if personagens.length == 0
                    p(class="pAviso") Você ainda não criou nenhum personagem, 
                        a(href=`/Usuarios/${id_Usuario}/adicionarPersonagem`, class="linkCriarPersonagem") Crie um agora mesmo!

                else
                    p(class="pAviso") Esse capitulo ainda não possui personagens viculados a ele!

            div(class="boxPersonagensECapitulos")
                if personagens.length
                    select(name="personagem")
                        option(value = "0") Escolha um personagem
                        for personagem2 in personagens
                            option(value=`${personagem2._id.toString()}`)= personagem2.Nome
                else 
                    select(name="personagem", disabled) 
                        option(value="") Voce ainda não criou nenhum personagem

            div(class="boxPersonagensECapitulos")
                if personagens.length
                    button(type="submit", class="btnSubmit") Adicionar Personagem
                else 
                    button(type="submit", disabled, class="btnSubmit") Adicionar Personagem

    br/

    section(class="sectionPersnagensECenarios")
        form(action=`/Usuarios/:${id_Usuario}/historia/:${id_Historia}/capitulo/:${capitulo._id.toString()}/adicionaCenario`, method="post")

            h2(class="tituloPersonagensECenarios") Cenários

            div(class="boxPersonagensECapitulos")
                if cenariosDoCapitulo.length
                    for cenario in cenariosDoCapitulo
                        p(class="paragrafoLinksPersonagensECapitulos")
                            a(href=`/Usuarios/:${id_Usuario}/cenario/:${cenario._id.toString()}`, class="linkPersonagensECapitulos")= cenario.Nome
                            span(class="linkDeletarPersonagemECapitulo")
                                a(href=`/Usuarios/:${id_Usuario}/historia/:${id_Historia}/capitulo/:${capitulo._id.toString()}/deletarCenario/:${cenario._id.toString()}`) Deletar
                else if cenarios.length == 0
                    p(class="pAviso") Você ainda não criou nenhum cenario, 
                        a(href=`/Usuarios/${id_Usuario}/adicionarCenario`, class="linkCriarPersonagem") Crie um agora mesmo!
                    
                else
                    p(class="pAviso") Esse capitulo ainda não possui cenarios vinculados a ele!


            if cenarios.length
                div(class="boxPersonagensECapitulos")
                    select(name="cenario")
                        option(value="0") Escolha um cenario 
                        for cenario in cenarios
                            option(value=cenario._id.toString())= cenario.Nome

                div(class="boxPersonagensECapitulos")
                    button(type="submit", class="btnSubmit") Adicionar Cenário

            else
                div(class="boxPersonagensECapitulos")
                    select(name="cenario", disabled)
                        option(value="null") Você ainda não criou nenhum cenario 

                div(class="boxPersonagensECapitulos")
                    button(type="submit", disabled, class="btnSubmit") Adicionar Cenário

    section  
      span(class="spanDeletarHis") Excluir Capitulo

      div(class="divExcluirPersonagem")
        p Certeza que deseja excluir o capitulo #{capitulo.Titulo}
        div(class="botoesDivExcluirPersonagem")
          button(class="cancelar", id="btnCancelar") Cancelar 
          a(class="excluir", href=`/Usuarios/:${capitulo.Usuario.toString()}/historia/:${capitulo.Historia.toString()}/capitulo/:${capitulo._id.toString()}/deletarCapitulo`) Excluir
        script(src="/javascripts/excluir.js")

    
    if notify.length
      div(class="containerNotify sucesso", id="containerNotify")
        div(class="boxNotify")
          h3 Sucesso!
          span(id="idNotificacao")= notify
      
      script(src="/javascripts/notify.js")
    
    if notifyErro.length
      div(class="containerNotify erro", id="containerNotifyErro")
        div(class="boxNotify")
          h3 Erro!
          span(id="idNotificacaoErro")= notifyErro
      
      script(src="/javascripts/notifyErro.js")
    
    footer(class="footer")
          p &copy; 2024 DawnDraft. Todos os direitos reservados.
          a(href="/politicaPrivacidade.html" style="color: white; text-decoration: none;") Política de Privacidade
          a(href="/FaleConosco" style="color: white; text-decoration: none;") Contato
