doctype html
html(lang="pt-br")
  head
    title home
    link(rel='stylesheet', href='/stylesheets/paginaHistorias.css')
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    header(class="header")
      nav(class="navBar")
        div(class="boxTituloLogo")
          img( class="logo-nav" src="/images/63b55e87-83ca-4b1e-afe9-c0e899910615.jpg")
          h1(class="h1-home", translate="no") Dawn Draft
        
        a(href=`/Usuarios/${historia.Usuario}/`)
          img(src="/images/casa.png", alt="Home")
  
    section
        form(action=`/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}`, method="post") 

          div(class="divInpt")
            label(for="") Titulo:
            input(type="text", name="titulo", value=`${historia.Titulo}`, maxlength="100")

          div(class="divResumoPersonagem")
            label(for="") Prologo
            textarea(name="prologo" placeholder="Prologo Do Capitulo", maxlength="400")= historia.Prologo
            script(src="/javascripts/historias.js")

          div
            button(type="submit") Salvar Alterações
      
    section(class="sectionCapitulos")
      h1(class="tituloCapitulos") Capítulos

      div(class="boxCapitulos")
        if capitulos.length != 0
          for capitulo in capitulos
            p(class="paragrafoLinksCapitulos")
              a(href=`/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}/capitulo/:${capitulo._id.toString()}` class="linkCapitulos")= capitulo.TituloCapitulo

              span(class="spanDeletarCap")
                a(href=`/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}/capitulo/:${capitulo._id.toString()}/deletarCapitulo`  class="linkDeletarCap") Deletar
        else
          p Essa historia ainda não possue capítulos, adicione um agora mesmo!!!
        h2(class="h2BoxCapitulos") 
          a(href=`/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}/adicionarCapitulo`, class="aAddCapitulo") Adicionar Capítulo

    footer(class="footer")
      p &copy; 2024 DawnDraft. Todos os direitos reservados.
      a(href="/politicaPrivacidade.html" style="color: white; text-decoration: none;") Política de Privacidade
      a(href="/contato.html" style="color: white; text-decoration: none;") Contato
