doctype html
html(lang="pt-br")
  head
    title= historia.Titulo
    link(rel='stylesheet', href='/stylesheets/paginaHistorias.css')
    link(rel='stylesheet', href='/stylesheets/notify.css')
    link(rel='stylesheet', href='/stylesheets/excluir.css')
    link(rel="website icon", href="/images/3c323745-b83e-4589-b0a6-a5b15a0aa3c4.jpg")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    header(class="header")
      div(class="boxTituloLogo")
          img( class="logo-nav" src="/images/63b55e87-83ca-4b1e-afe9-c0e899910615.jpg")
          h1(class="h1-home", translate="no") Dawn Draft
  
      nav(class="navBar")
        a(href=`/Usuarios/${historia.Usuario}/adicionarPersonagem`, class="btn-sobre") Criar personagem
        a(href=`/Usuarios/${historia.Usuario}/NovaHistoria`, class="btn-sobre") Criar historia
        a(href=`/Usuarios/${historia.Usuario}/`)
          img(src="/images/casa.png", alt="Home")

    section
        form(action=`/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}`, method="post") 

          div(class="divInpt")
            label(for="") Titulo:
            input(type="text", name="titulo", value=`${historia.Titulo}`, maxlength="100")

          div(class="divResumoPersonagem")
            label(for="") Prologo
            textarea(name="prologo" placeholder="Prologo Do Capitulo", maxlength="400")= historia.Prologo
            script(src="/javascripts/historias.js")

          div
            button(type="submit") Salvar Alterações
      
    section(class="sectionCapitulos")
      h1(class="tituloCapitulos") Capítulos

      div(class="boxCapitulos")
        if capitulos.length != 0
          for capitulo in capitulos
            p(class="paragrafoLinksCapitulos")
              a(href=`/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}/capitulo/:${capitulo._id.toString()}` class="linkCapitulos")= capitulo.TituloCapitulo

              //- span(class="spanDeletarCap")
              //-   a(href=`/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}/capitulo/:${capitulo._id.toString()}/deletarCapitulo`  class="linkDeletarCap") Deletar
        else
          p Essa historia ainda não possue capítulos, adicione um agora mesmo!!!
        h2(class="h2BoxCapitulos") 
          a(href=`/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}/adicionarCapitulo`, class="aAddCapitulo") Adicionar Capítulo

    section  
      span(class="spanDeletarHis") Excluir historia

      div(class="divExcluirPersonagem")
        p Certeza que deseja excluir a historia #{historia.Titulo}
        div(class="botoesDivExcluirPersonagem")
          button(class="cancelar", id="btnCancelar") Cancelar 
          a(class="excluir", href=`/Usuarios/:${historia.Usuario}/deletarHistoria/:${historia._id.toString()}`) Excluir
        script(src="/javascripts/excluir.js")

    if notify.length
      div(class="containerNotify", id="containerNotify")
        div(class="boxNotify")
          h3 Sucesso!
          span(id="idNotificacao")= notify
      script(src="/javascripts/notify.js")

    footer(class="footer")
      p &copy; 2024 DawnDraft. Todos os direitos reservados.
      a(href="/politicaPrivacidade.html" style="color: white; text-decoration: none;") Política de Privacidade
      a(href="/contato.html" style="color: white; text-decoration: none;") Contato
