doctype html
html(lang="pt-br")
  head
    title home
    link(rel='stylesheet', href='/stylesheets/paginaHistorias.css')
  body
    header 
      h1 
          a(href=`/Usuarios/:${historia.Usuario}/`) Home

    section
        form(action=`/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}`, method="post") 

          input(type="text", name="titulo", value=`${historia.Titulo}`, maxlength="100")

          textarea(name="prologo" placeholder="Prologo Do Capitulo", maxlength="400")= historia.Prologo 

          button(type="submit") salvar
      
    section(class="sectionCapitulos")
      h1(class="tituloCapitulos") Capitulos

      div(class="boxCapitulos")
        for capitulo in capitulos
          p(class="paragrafoLinksCapitulos") Capitulo:
            a(href=`/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}/capitulo/:${capitulo._id.toString()}` class="linkCapitulos")= capitulo.TituloCapitulo
            span(class="spanDeletarCap")
              a(href=`/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}/capitulo/:${capitulo._id.toString()}/deletarCapitulo`  class="linkDeletarCap") Deletar
        h2 
          a(href=`/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}/adicionarCapitulo`) Adicionar Cápitulo
