doctype html
html(lang="pt-br")
  head
    title home
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      h1 
        a(href=`http://localhost:3000/Usuarios/:${historia.Usuario}/`) Home 

      h1 Pagina onde vai carregar uma historia em especifico

      form(action=`http://localhost:3000/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}`, method="post") 

        input(type="text", name="titulo", value=`${historia.Titulo}`)

        textarea(name="prologo" placeholder="Prologo Do Capitulo")= historia.Prologo 

        button(type="submit") salvar
      
      h1(class="tituloCapitulos") Capitulos
      - var contador = 1
      for capitulo in capitulos
        p(class="paragrafoLinksCapitulos") Capitulo #{contador} => 
          a(href=`http://localhost:3000/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}/capitulo/:${capitulo._id.toString()}` class="linkCapitulos")= capitulo.TituloCapitulo
        - contador++
      h2 
        a(href=`http://localhost:3000/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}/adicionarCapitulo`) Adicionar Cápitulo
