doctype html
html(lang="pt-br")
  head
    title home
    link(rel='stylesheet', href='/stylesheets/paginaHomeUsuarios.css')
  body
      h1 Pagina index dos usuario onde vai carregar todas as histórias criadas por eles
      
      section(class="")
        h1 Histórias 
        div(class="containerHistorias")
          div(class='boxsHistorias')
            a(href=`http://localhost:3000/Usuarios/:${id_Usuario}/NovaHistoria`) +
            
          if historias.length
            for historia in historias
              div(class="boxHistorias")
                a(href=`http://localhost:3000/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}`, rel="noopener noreferrer")
                  p= historia.Titulo
                  p= historia.Prologo
